<h5>Groups</h5>
<ul>
    <li><a href="/client/contacts?group=family">Family</li>
    <li><a href="/client/contacts?group=friends">Friends</li>
    <li><a href="/client/contacts?group=coworkers">Coworkers</li>
</ul>



<% @contacts.each do |contact| %>
  <h3><a href= "/client/contacts/<%= contact["id"] %>"> <%= contact["full_name"] %></a></h2>
  <h4>Phone Number: <%= contact["phone_numner"] %> </h2>
  <h4>Email: <%= contact["email"] %> </h2>
  <h4>Bio: <%= contact["bio"] %> </h2>
  <br>
<% end %>