<!DOCTYPE html>
<html>
  <head>
    <title>ContactClient</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/client/contacts">Home</a>
    <a href="/client/contacts/new">New Contact</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/logout" data-method="delete">Log Out</a>

  <% if @jwt %>
    <h6><%= @jwt %></h6>
  <% end %>

    <% flash.each do |name, message| %>
      <p><%= message %><p>
    <% end %>

    <%= yield %>
  </body>
</html>
